<div class="div-container">
    <h1>Demandado</h1>
    <form [formGroup]="formDemandado" (submit)="onSubmit()">
        
        <section>

            <mat-form-field>
                <mat-label>Identificacion:</mat-label>
                <input matInput formControlName="ident">
                @if (formDemandado.get('ident')?.invalid && formDemandado.get('ident')?.touched) {
                }
              </mat-form-field>
            
              <mat-form-field >
                <mat-label>Nombre:</mat-label>
                <input matInput formControlName="nombre">  
                @if (formDemandado.get('nombre')?.invalid && formDemandado.get('nombre')?.touched) {
                    <small>Nombre requerido</small>
                }
              </mat-form-field>

              <mat-form-field >
                <mat-label>E-mail:</mat-label>
                <input matInput formControlName="email">  
                @if (formDemandado.get('email')?.invalid && formDemandado.get('email')?.touched) {
                }
              </mat-form-field> 
              
              <mat-form-field >
                <mat-label>Copropiedad:</mat-label>
                <mat-select formControlName="copropiedad">
                    @for (d of demandantes; track d.id_demandante) {
                      <mat-option [value]="d.id_demandante">{{d.nombre_demandante}}</mat-option>
                    }
                  </mat-select>
                  @if (formDemandado.get('copropiedad')?.invalid && formDemandado.get('copropiedad')?.touched) {
                    <small>Copropiedad requerido</small>
                }
              </mat-form-field>

              <mat-form-field >
                <mat-label>Inmueble:</mat-label>
                <input matInput formControlName="inmueble">  
                @if (formDemandado.get('inmueble')?.invalid && formDemandado.get('inmueble')?.touched) {
                    <small>Inmueble requerido</small>
                }
              </mat-form-field>    
                             
        </section>
        <button mat-flat-button color="primary" [disabled]="formDemandado.invalid" >Guardar</button>  
        </form>
</div>
