<div class="div-container">

  <mat-card>
    
    <mat-card-header>
      <h1>Inmuebles</h1>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="formInmuebles" (submit)="onSubmit()">
        <section>

          <app-input
            label="Identificacion:"  
            [inputControl]= "formInmuebles.get('ident')"
            (blur)="buscarDemandado($event)"
            msgError="Identificacion requerida"
          />
          
          <app-input
            label="Nombre:"  
            [readonly]="readonly"
            [inputControl]= "formInmuebles.get('nombre')"
            msgError="Nombre requerido"
          />
          
          <app-input
            label="E-mail:"  
            [readonly]="readonly"
            [inputControl]= "formInmuebles.get('email')"
          />
    
          <app-autocompletar 
            title="Copropiedad"
            [options]="demandantes"
            [myInputComplete]= "formInmuebles.get('copropiedad')"
            cmbDescripcion="nombre_demandante"
            optionId="id_demandante"
            msgError="Copropiedad requerida"
          />
         
          <app-input
            label="Inmueble:"
            [inputControl]= "formInmuebles.get('inmueble')"
            msgError="Inmueble requerido"
          />
    
          <mat-form-field>
            <mat-label>Fecha Etapa Demandado (d/m/y):</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fechaEtapaDemandado"
            />
            <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formInmuebles.get('fechaEtapaDemandado')?.invalid &&
            formInmuebles.get('fechaEtapaDemandado')?.touched) {
            <small>Fecha Etapa Demandado requerido</small>
            }
          </mat-form-field>
        </section>
        <div>
          <button mat-flat-button color="primary" [disabled]="formInmuebles.invalid">
            Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
</div>
