<mat-toolbar>
    <button routerLink="" mat-button>Home </button>
    <!-- <button routerLink="/login" mat-button>Login </button>
    <button routerLink="/registro" mat-button>Registro </button> -->
    <button routerLink="/copropiedad" mat-button>Copropiedades </button>
    <button routerLink="/demandado" mat-button>Demandados </button>
    <button routerLink="/radicado" mat-button>Radicados </button>
    <button routerLink="/auto" mat-button>Autos </button>    
    <button routerLink="/cronologia" mat-button>Cronologias </button>
    <button routerLink="/cartera" mat-button>Carteras </button>
    <button routerLink="/recaudo" mat-button>Recaudos </button>
    <button routerLink="/honorarios" mat-button>Honorarios </button>
    <button routerLink="/reembolsos" mat-button>Reembolsos </button>
</mat-toolbar>
