<div class="div-container">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Radicado</h1></mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <form [formGroup]="formRadicado" (submit)="onSubmit()">
            <section>
              <mat-form-field>
                <mat-label>Copropiedad:</mat-label>
                <mat-select
                  formControlName="demate"
                  (selectionChange)="onChangeCopropiedad($event)"
                >
                  @for (d of demandantes; track d.id_demandante) {
                  <mat-option [value]="d.id_demandante">{{
                    d.nombre_demandante
                  }}</mat-option>
                  }
                </mat-select>
                @if (formRadicado.get('demate')?.invalid &&
                formRadicado.get('demate')?.touched) {
                <small>Copropiedad requerido</small>
                }
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Inmueble:</mat-label>
                <mat-select
                  formControlName="inmueble"
                  (selectionChange)="onChangeInmueble($event)"
                >
                  @for (i of inmueblesXdemandante; track i.id_inmueble) {
                  <mat-option [value]="i.id_inmueble">{{
                    i.numero_inmueble
                  }}</mat-option>
                  }
                </mat-select>
                @if (formRadicado.get('inmueble')?.invalid &&
                formRadicado.get('inmueble')?.touched) {
                <small>Inmueble requerido</small>
                }
              </mat-form-field>
            </section>
            
            <section>
  
              <mat-form-field>
                <mat-label>Demandado:</mat-label>
                <input matInput readonly="readonly" formControlName="demado" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Radicado:</mat-label>
                <input matInput formControlName="radicado" />
                @if (formRadicado.get('radicado')?.invalid &&
                formRadicado.get('radicado')?.touched) {
                <small>Radicado requerido</small>
                }
              </mat-form-field>
  
          
            </section>
            <section>  
              <mat-form-field>
                <mat-label>Fecha Radicado (dd/mm/yyyy):</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fechaRadicado"
                />
                <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (formRadicado.get('fechaRadicado')?.invalid &&
                formRadicado.get('fechaRadicado')?.touched) {
                <small>Fecha Radicado requerido</small>
                }
              </mat-form-field>

              <mat-form-field>
                <mat-label>Juzgado:</mat-label>
                <mat-select
                  formControlName="juzgado"
                  (selectionChange)="onChangeJuzgado($event)"
                >
                  @for (j of juzgados; track j.id_juzgado) {
                  <mat-option [value]="j.id_juzgado">{{
                    j.nombre_juzgado
                  }}</mat-option>
                  }
                </mat-select>
                @if (formRadicado.get('juzgado')?.invalid &&
                formRadicado.get('juzgado')?.touched) {
                <small>Juzgado requerido</small>
                }
              </mat-form-field>

              <mat-form-field>
                <mat-label>Numero de Juzgado:</mat-label>
                <mat-select
                  formControlName="numJuzgado"
                  (selectionChange)="onChangeNumJuzgado($event)"
                >
                  @for (nj of juzgados; track nj.id_juzgado) {
                  <mat-option [value]="nj.id_juzgado">{{
                    nj.num_juzgado
                  }}</mat-option>
                  }
                </mat-select>
                @if (formRadicado.get('numJuzgado')?.invalid &&
                formRadicado.get('numJuzgado')?.touched) {
                <small>Numero de Juzgado requerido</small>
                }
              </mat-form-field>
            </section>
  
            <button
              mat-flat-button
              color="primary"
              [disabled]="formRadicado.invalid"
            >
              Guardar
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
