<div class="div-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Radicado</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formRadicado" (submit)="onSubmit()">
        <section>
          
          <app-autocompletar 
            title="Copropiedad"
            [options]="demandantes"
            [myInputComplete]= "formRadicado.get('demate')"
            cmbDescripcion="nombre_demandante"
            optionId="id_demandante"
            msgError="Copropiedad requerida"
            (onChangeSelection)=" onChangeCopropiedad($event)"
          />

          <app-autocompletar 
            title="Inmueble"
            [options]="inmueblesXdemandante"
            [myInputComplete]= "formRadicado.get('inmueble')"
            cmbDescripcion="numero_inmueble"
            optionId="id_inmueble"
            [seleccionado]="storeService.cancelInmueble()"
            msgError="Inmueble requerida"
            (onChangeSelection)=" onChangeInmueble($event)"
          />
    
          <app-input
            label="Demandado:"  
            [inputControl]= "formRadicado.get('demado')"
            [readonly]= true
          />
          
          <app-input
            label="Radicado:"  
            [inputControl]= "formRadicado.get('radicado')"
            msgError="Radicado requerido"
          />
          
          <app-autocompletar 
            title="Juzgado"
            [options]="juzgados"
            [myInputComplete]= "formRadicado.get('juzgado')"
            optionId="id_juzgado"
            cmbDescripcion="nombre_juzgado"
            msgError="Inmueble requerida"
            (onChangeSelection)=" onChangeJuzgado($event)"
          />
          
          <app-autocompletar 
            title="Numero de Juzgado:"
            [options]="numJuzgadosXjuzgado"
            [myInputComplete]= "formRadicado.get('numJuzgado')"
            cmbDescripcion="num_juzgado"
            optionId="id_num_juzgado"
            [seleccionado]="storeService.cancelNumJuzgado()"
            msgError="Inmueble requerida"
            (onChangeSelection)=" onChangeNumJuzgado($event)"
          />

          <mat-form-field>
            <mat-label>Fecha Radicado (dd/mm/yyyy):</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fechaRadicado"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formRadicado.get('fechaRadicado')?.invalid &&
            formRadicado.get('fechaRadicado')?.touched) {
            <small>Fecha Radicado requerido</small>
            }
          </mat-form-field>
        </section>
        <div>
          <button
            mat-flat-button
            color="primary"
            [disabled]="formRadicado.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
