.div-container{
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    border: 1px solid blue;
}

mat-card{
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid teal;
}

form{
    display: flex;
    flex-direction: column;
}

form > :nth-child(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

form > :nth-child(2){
    display: flex;
    flex-grow: 0;
    justify-content: center;
}

small{
    color:red
}

=======
    align-items: center;
}

mat-card{
    display: flex;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;

    border: 1px solid teal;

}
>>>>>>> 8066143a5dbb785e699a70a90b37a07520904f74
