.div-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card{
    display: flex;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;

    border: 1px solid teal;

}
