<div class="div-container">
  <mat-card>
    <mat-card-header>
      <h1>Copropiedad</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formCopropiedad" (submit)="onSubmit()">
        <div>

          <app-input 
            label="Nit:"
            [inputControl]="formCopropiedad.get('nit')"
            msgError="Nit requerido"
          />

          <app-input 
            label="Nombre:"
            [inputControl]="formCopropiedad.get('nombre')"
            msgError="Nombre requerido"
          />

          <app-autocompletar 
            title="Tipo de Inmueble"
            [options]="tipoInmuebles"
            [myInputComplete]= "formCopropiedad.get('tipoInmueble')"
            cmbDescripcion="tipo_inmueble"
            optionId="id_tipo_inmueble"
            msgError="Copropiedad requerida"
          />

          <app-input 
            label="Direccion:"
            [inputControl]="formCopropiedad.get('direccion')"
            msgError="Direccion requerida"
          />

          <app-autocompletar 
            title="Municipio:"
            [options]="municipios"
            [myInputComplete]= "formCopropiedad.get('municipio')"
            cmbDescripcion="nombre_municipio"
            optionId="id_municipio"
            msgError="Municipio requerido"
          />

          <app-autocompletar 
            title="Entidad Bancaria:"
            [options]="bancos"
            [myInputComplete]= "formCopropiedad.get('banco')"
            cmbDescripcion="nombre_banco"
            optionId="id_banco"
            msgError="Entidad Bancaria requerida"
          />

          <app-autocompletar 
            title="Tipo de Cuenta:"
            [options]="tipoCuentas"
            [myInputComplete]= "formCopropiedad.get('tipoCuenta')"
            cmbDescripcion="nombre_tipo_cuenta"
            optionId="id_tipo_cuenta"
            msgError="Entidad Bancaria requerida"
          />

          <app-input 
            label="Numero de cuenta:"
            [inputControl]="formCopropiedad.get('numCuenta')"
            msgError="Numero de Cuenta requerida"
          />
          
          <app-autocompletar 
            title="Administrador:"
            [options]="administradores"
            [myInputComplete]= "formCopropiedad.get('admin')"
            cmbDescripcion="nombre_admin_copropiedad"
            optionId="id_admin_copropiedad"
            msgError="Administrador requerido"
          />

          <mat-form-field>
            <mat-label>Fecha Personeria (d/m/y):</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fechaPersoneria"
            />
            <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formCopropiedad.get('fechaPersoneria')?.invalid &&
            formCopropiedad.get('fechaPersoneria')?.touched) {
            <small>Fecha Personeria requerido</small>
            }
          </mat-form-field>
        </div>

        <div>
          <button
            mat-flat-button
            color="primary"
            [disabled]="formCopropiedad.invalid"
            type="submit"
          >
            Guardar
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>