<div class="div-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Honorarios</h1></mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <form [formGroup]="formHonorarios" (submit)="onSubmit()">
            <section>
              <mat-form-field>
                <mat-label>Copropiedad:</mat-label>
                <mat-select
                  formControlName="demate"
                  (selectionChange)="onChangeCopropiedad($event)"
                >
                  @for (d of demandantes; track d.id_demandante) {
                  <mat-option [value]="d.id_demandante">{{
                    d.nombre_demandante
                  }}</mat-option>
                  }
                </mat-select>
                @if (formHonorarios.get('demate')?.invalid &&
                formHonorarios.get('demate')?.touched) {
                <small>Copropiedad requerido</small>
                }
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Inmueble:</mat-label>
                <mat-select
                  formControlName="inmueble"
                  (selectionChange)="onChangeInmueble($event)"
                >
                  @for (i of inmueblesXdemandante; track i.id_inmueble) {
                  <mat-option [value]="i.id_inmueble">{{
                    i.numero_inmueble
                  }}</mat-option>
                  }
                </mat-select>
                @if (formHonorarios.get('inmueble')?.invalid &&
                formHonorarios.get('inmueble')?.touched) {
                <small>Inmueble requerido</small>
                }
              </mat-form-field>
            
              <mat-form-field>
                <mat-label>Demandado:</mat-label>
                <input matInput readonly="readonly" formControlName="demado" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Cuenta de Cobro:</mat-label>
                <input matInput formControlName="cuecobro" />
                @if (formHonorarios.get('cuecobro')?.invalid &&
                formHonorarios.get('cuecobro')?.touched) {
                <small>Cuenta de Cobro requerido</small>
                }
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Honorarios:</mat-label>
                <input matInput formControlName="honorarios" type="number" />
                @if (formHonorarios.get('honorarios')?.invalid &&
                formHonorarios.get('honorarios')?.touched) {
                <small>Honorarios requerido</small>
                }
              </mat-form-field>
              <mat-form-field>
                <mat-label>Fecha Honorarios (dd/mm/yyyy):</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fechaHonorarios"
                />
                <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (formHonorarios.get('fechaHonorarios')?.invalid &&
                formHonorarios.get('fechaHonorarios')?.touched) {
                <small>Fecha Honorarios requerido</small>
                }
              </mat-form-field>
            </section>
  
            <button
              mat-flat-button
              color="primary"
              [disabled]="formHonorarios.invalid"
            >
              Guardar
            </button>
          </form>
        </mat-card-content>
      </mat-card>

  </div>
  
