<div class="div-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Honorarios</h1></mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <form [formGroup]="formHonorarios" (submit)="onSubmit()">
            <section>
              
              <app-autocompletar 
                title="Copropiedad"
                [options]="demandantes"
                [myInputComplete]= "formHonorarios.get('demate')"
                (onChangeSelection)=" onChangeCopropiedad($event)"
                optionId="id_demandante"
                cmbDescripcion="nombre_demandante"
                msgError="Copropiedad requerida"
              />
              
              <app-autocompletar 
                title="Inmueble"
                [options]="inmueblesXdemandante"
                [myInputComplete]= "formHonorarios.get('inmueble')"
                optionId="id_inmueble"
                cmbDescripcion="numero_inmueble"
                msgError="Inmueble requerido"
                [seleccionado]="storeService.cancelInmueble()"
                (onChangeSelection)=" onChangeInmueble($event)"
              />
              
              <app-input
                label="Demandado:"  
                [inputControl]= "formHonorarios.get('demado')"
                [readonly]=true 
              />
          
              <app-input
                label="Cuenta de Cobro:"  
                [inputControl]= "formHonorarios.get('cuecobro')"
                msgError="Cuenta de Cobro requerido"
              />
           
              <app-input
                label="Honorarios:"  
                [inputControl]= "formHonorarios.get('honorarios')"
                type="number"
                msgError="Honorarios requerido"
              />
           
              <mat-form-field>
                <mat-label>Fecha Honorarios (dd/mm/yyyy):</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fechaHonorarios"
                />
                <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (formHonorarios.get('fechaHonorarios')?.invalid &&
                formHonorarios.get('fechaHonorarios')?.touched) {
                <small>Fecha Honorarios requerido</small>
                }
              </mat-form-field>
            </section>
  
            <button
              mat-flat-button
              color="primary"
              [disabled]="formHonorarios.invalid"
            >
              Guardar
            </button>
          </form>
        </mat-card-content>
      </mat-card>

  </div>
  
