<div class="div-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Registro de usuarios</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>User Email</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>User Password</mat-label>
          <input matInput type="password" />
        </mat-form-field>

        <button mat-flat-button>Guardar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>