<div class="div-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Reembolsos</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formReembolso" (submit)="onSubmit()">
        <section>
          
          <app-autocompletar 
            title="Copropiedad"
            [options]="demandantes"
            [myInputComplete]= "formReembolso.get('demate')"
            (onChangeSelection)=" onChangeCopropiedad($event)"
            optionId="id_demandante"
            cmbDescripcion="nombre_demandante"
            msgError="Copropiedad requerida"
          />
     
          <app-autocompletar 
            title="Inmueble"
            [options]="inmueblesXdemandante"
            [myInputComplete]= "formReembolso.get('inmueble')"
            optionId="id_inmueble"
            cmbDescripcion="numero_inmueble"
            msgError="Inmueble requerido"
            [seleccionado]="storeService.cancelInmueble()"
            (onChangeSelection)=" onChangeInmueble($event)"
          />
           
          <app-input
            label="Demandado:"  
            [inputControl]= "formReembolso.get('demado')"
            [readonly]=true 
          />

          <app-input
            label="Cuenta de Cobro:"  
            [inputControl]= "formReembolso.get('cuecobro')"
            msgError="Cuenta de Cobro requerido"
          />

          <app-input
            label="Reembolso:"  
            [inputControl]= "formReembolso.get('reembolso')"
            type="number"
            msgError="Reembolso requerido"
          />


          <mat-form-field>
            <mat-label>Fecha Reembolso (dd/mm/yyyy):</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fechaReembolso"
            />
            <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formReembolso.get('fechaReembolso')?.invalid &&
            formReembolso.get('fechaReembolso')?.touched) {
            <small>Fecha Radicado requerido</small>
            }
          </mat-form-field>
        </section>

        <button
          mat-flat-button
          color="primary"
          [disabled]="formReembolso.invalid"
        >
          Guardar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
