<div class="div-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Cartera</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formCartera" (submit)="onSubmit()">
        <section>
          
          <app-autocompletar 
            title="Copropiedad"
            [options]="copropiedades"
            [myInputComplete]= "formCartera.get('demate')"
            (onChangeSelection)=" onChangeCopropiedad($event)"
            optionId="id_demandante"
            cmbDescripcion="nombre_demandante"
            msgError="Copropiedad requerida"
          />

          <app-autocompletar 
            title="Inmueble"
            [options]="inmueblesXdemandante"
            [myInputComplete]= "formCartera.get('inmueble')"
            optionId="id_inmueble"
            cmbDescripcion="numero_inmueble"
            msgError="Inmueble requerido"
            (onChangeSelection)=" onChangeInmueble($event)"
          />

          <mat-form-field>
            <mat-label>Demandado:</mat-label>
            <input matInput readonly="readonly" formControlName="demado" />
          </mat-form-field>

          <app-input
            label="Cartera:"  
            [inputControl]= "formCartera.get('cartera')"
            type="number"
            msgError="Cartera requerido"
          />
      
          <app-autocompletar 
            title="Etapa Demandado:"
            [options]="etapasDemandados"
            [myInputComplete]= "formCartera.get('etapaDemado')"
            cmbDescripcion="nombre_etapa_demandado"
            optionId="id_etapa_demandado"
            msgError="Etapa Demandado requerida"
          />
       
          <mat-form-field>
            <mat-label>Fecha Cartera (dd/mm/yyyy):</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fechaCartera"
            />
            <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formCartera.get('fechaCartera')?.invalid &&
            formCartera.get('fechaCartera')?.touched) {
            <small>Fecha Cartera requerido</small>
            }
          </mat-form-field>
        </section>
      
        <div>
          <button
            mat-flat-button
            color="primary"
            [disabled]="formCartera.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
