<div class="div-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Cartera</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formCartera" (submit)="onSubmit()">
        <section>
          <mat-form-field>
            <mat-label>Copropiedad:</mat-label>
            <mat-select
              formControlName="demate"
              (selectionChange)="onChangeCopropiedad($event)"
            >
              @for (d of demandantes; track d.id_demandante) {
              <mat-option [value]="d.id_demandante">{{
                d.nombre_demandante
              }}</mat-option>
              }
            </mat-select>
            @if (formCartera.get('demate')?.invalid &&
            formCartera.get('demate')?.touched) {
            <small>Copropiedad requerido</small>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Inmueble:</mat-label>
            <mat-select
              formControlName="inmueble"
              (selectionChange)="onChangeInmueble($event)"
            >
              @for (i of inmueblesXdemandante; track i.id_inmueble) {
              <mat-option [value]="i.id_inmueble">{{
                i.numero_inmueble
              }}</mat-option>
              }
            </mat-select>
            @if (formCartera.get('inmueble')?.invalid &&
            formCartera.get('inmueble')?.touched) {
            <small>Inmueble requerido</small>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Demandado:</mat-label>
            <input matInput readonly="readonly" formControlName="demado" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Cartera:</mat-label>
            <input matInput formControlName="cartera" type="number" />
            @if (formCartera.get('cartera')?.invalid &&
            formCartera.get('cartera')?.touched) {
            <small>Cartera requerido</small>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Etapa Demandado:</mat-label>
            <mat-select formControlName="etapaDemado">
              @for (ed of etapasDemandados; track ed.id_etapa_demandado) {
              <mat-option [value]="ed.id_etapa_demandado">{{
                ed.nombre_etapa_demandado
              }}</mat-option>
              }
            </mat-select>
            @if (formCartera.get('etapaDemado')?.invalid &&
            formCartera.get('etapaDemado')?.touched) {
            <small>Etapa Demandado requerido</small>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fecha Cartera (dd/mm/yyyy):</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="fechaCartera"
            />
            <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (formCartera.get('fechaCartera')?.invalid &&
            formCartera.get('fechaCartera')?.touched) {
            <small>Fecha Cartera requerido</small>
            }
          </mat-form-field>
        </section>
      
        <div>
          <button
            mat-flat-button
            color="primary"
            [disabled]="formCartera.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
