<<<<<<< HEAD
.div-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
=======
.div-container{
    display: flex;
    justify-content: center;
    align-items: center;
>>>>>>> 8066143a5dbb785e699a70a90b37a07520904f74
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 60%;
  background-color: rgba(214, 197, 194, 0.7);
  border-radius: 80px 0 80px 0;
}
#F5F5F5
 form {
  display: flex;
} 

<<<<<<< HEAD
form > :nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
=======
form{
    display: flex;
    flex-direction: column;

    border: 1px solid teal;

>>>>>>> 8066143a5dbb785e699a70a90b37a07520904f74
}

form > :nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
