<div class="div-container">
    <h1>Cartera</h1>
    <form [formGroup]="formCartera" (submit)="onSubmit()">
        
        <section>

            <mat-form-field >
                <mat-label>Copropiedad:</mat-label>
                <mat-select formControlName="demate" (selectionChange)="onChangeCopropiedad($event)">
                    @for (d of demandantes; track d.id_demandante) {
                      <mat-option [value]="d.id_demandante">{{d.nombre_demandante}}</mat-option>
                    }
                  </mat-select>
                  @if (formCartera.get('demate')?.invalid && formCartera.get('demate')?.touched) {
                    <small>Copropiedad requerido</small>
                }
            </mat-form-field>

              <mat-form-field >
                <mat-label>Inmueble:</mat-label>
                <mat-select formControlName="inmueble">
                    @for (i of inmuebles; track i.id_inmueble) {
                      <mat-option [value]="i.id_inmueble">{{i.numero_inmueble}}</mat-option>
                    }
                  </mat-select>
                  @if (formCartera.get('inmueble')?.invalid && formCartera.get('inmueble')?.touched) {
                    <small>Inmueble requerido</small>
                }
              </mat-form-field>

              <mat-form-field >
                <mat-label>Propietario:</mat-label>
                <mat-select formControlName="demado">
                    @for (de of demandados; track de.id_demandado) {
                      <mat-option [value]="de.id_demandado">{{de.nombre_demandado}}</mat-option>
                    }
                  </mat-select>
                  @if (formCartera.get('demado')?.invalid && formCartera.get('demado')?.touched) {
                    <small>Propietario requerido</small>
                }
              </mat-form-field>
              
              <mat-form-field>
                <mat-label>Cartera:</mat-label>
                <input matInput formControlName="cartera">
                @if (formCartera.get('cartera')?.invalid && formCartera.get('cartera')?.touched) {
                    <small>Cartera requerido</small>
                }
              </mat-form-field>
            
              <mat-form-field>
                <mat-label>Fecha Cartera (dd/mm/yyyy):</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaCartera">
               <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (formCartera.get('fechaCartera')?.invalid && formCartera.get('fechaCartera')?.touched) {
                    <small>Fecha Cartera requerido</small>
                }
              </mat-form-field>
        </section>


        <button mat-flat-button color="primary" [disabled]="formCartera.invalid" >Guardar</button>  
    
    </form>

</div>
