<div class="div-container">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Recaudo</h1></mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <form [formGroup]="formRecaudo" (submit)="onSubmit()">
            <section>
              <mat-form-field>
                <mat-label>Copropiedad:</mat-label>
                <mat-select
                  formControlName="demate"
                  (selectionChange)="onChangeCopropiedad($event)"
                >
                  @for (d of demandantes; track d.id_demandante) {
                  <mat-option [value]="d.id_demandante">{{
                    d.nombre_demandante
                  }}</mat-option>
                  }
                </mat-select>
                @if (formRecaudo.get('demate')?.invalid &&
                formRecaudo.get('demate')?.touched) {
                <small>Copropiedad requerido</small>
                }
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Inmueble:</mat-label>
                <mat-select
                  formControlName="inmueble"
                  (selectionChange)="onChangeInmueble($event)"
                >
                  @for (i of inmueblesXdemandante; track i.id_inmueble) {
                  <mat-option [value]="i.id_inmueble">{{
                    i.numero_inmueble
                  }}</mat-option>
                  }
                </mat-select>
                @if (formRecaudo.get('inmueble')?.invalid &&
                formRecaudo.get('inmueble')?.touched) {
                <small>Inmueble requerido</small>
                }
              </mat-form-field>
            </section>
            
            <section>
  
              <mat-form-field>
                <mat-label>Demandado:</mat-label>
                <input matInput readonly="readonly" formControlName="demado" />
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Recaudo:</mat-label>
                <input matInput formControlName="recaudo" />
                @if (formRecaudo.get('recaudo')?.invalid &&
                formRecaudo.get('recaudo')?.touched) {
                <small>Recaudo requerido</small>
                }
              </mat-form-field>
            </section>
            <section>  
              <mat-form-field>
                <mat-label>Fecha Recaudo (dd/mm/yyyy):</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fechaRecaudo"
                />
                <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (formRecaudo.get('fechaRecaudo')?.invalid &&
                formRecaudo.get('fechaRecaudo')?.touched) {
                <small>Fecha Recaudo requerido</small>
                }
              </mat-form-field>
            </section>
  
            <button
              mat-flat-button
              color="primary"
              [disabled]="formRecaudo.invalid"
            >
              Guardar
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
