<div class="div-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title><h1>Recaudo</h1></mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <form [formGroup]="formRecaudo" (submit)="onSubmit()">
            <section>
              <app-autocompletar 
                title="Copropiedad"
                [options]="demandantes"
                [myInputComplete]= "formRecaudo.get('demate')"
                (onChangeSelection)=" onChangeCopropiedad($event)"
                optionId="id_demandante"
                cmbDescripcion="nombre_demandante"
                msgError="Copropiedad requerida"
              />
              
              <app-autocompletar 
                title="Inmueble"
                [options]="inmueblesXdemandante"
                [myInputComplete]= "formRecaudo.get('inmueble')"
                optionId="id_inmueble"
                cmbDescripcion="numero_inmueble"
                [seleccionado]="storeService.cancelInmueble()"
                msgError="Inmueble requerido"
                (onChangeSelection)=" onChangeInmueble($event)"
              />

            </section>
            
            <section>
  
              <mat-form-field>
                <mat-label>Demandado:</mat-label>
                <input matInput readonly="readonly" formControlName="demado" />
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Recaudo:</mat-label>
                <input matInput formControlName="recaudo" type="number"/>
                @if (formRecaudo.get('recaudo')?.invalid &&
                formRecaudo.get('recaudo')?.touched) {
                <small>Recaudo requerido</small>
                }
              </mat-form-field>
            </section>
            <section>  
              <mat-form-field>
                <mat-label>Fecha Recaudo (dd/mm/yyyy):</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fechaRecaudo"
                />
                <!--  <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                @if (formRecaudo.get('fechaRecaudo')?.invalid &&
                formRecaudo.get('fechaRecaudo')?.touched) {
                <small>Fecha Recaudo requerido</small>
                }
              </mat-form-field>
            </section>
  
            <button
              mat-flat-button
              color="primary"
              [disabled]="formRecaudo.invalid"
            >
              Guardar
            </button>
          </form>
        </mat-card-content>
      </mat-card>
  </div>
  
